---
const stats = [
 {
  name: 'Years',
  value: '9',
 },
 {
  name: 'Something else',
  value: '12',
 },
 {
  name: 'Projects',
  value: '5',
 },
 {
  name: 'Blablabla',
  value: '9',
 },
];
---

<section class="py-6 sm:py-6">
 <div class="mx-auto max-w-7xl sm:px-6 lg:px-12">
  <img
   class="mx-auto h-auto w-full max-w-7xl rounded-3xl"
   src="/assets/mia_at_the_desk.jpg"
   alt="Our experts working together"
  />

  <div class="my-12 flex flex-col gap-6 px-6 lg:my-28">
   <!-- Mission description -->

   <p class="text-xl text-primary-950/70 dark:text-primary-200/70 sm:text-2xl">
    My name is Mia Lambrechts and reFlair Ideas and Interiors is my business and passion.
   </p>
   <p class="text-xl text-primary-950/70 dark:text-primary-200/70 sm:text-2xl">
    I have been blessed and fortunate to turn my passion for beautiful interiors into a profession,
    as I believe that being able to find serenity and comfort in one's home is a crucial factor in
    quality of life.
   </p>
   <p class="text-xl text-primary-950/70 dark:text-primary-200/70 sm:text-2xl">
    I joined Hanlie Claasen Interiors in 2017 after being a stay-at-home mom to my two daughters,
    and I will be ever grateful for this opportunity, as well as for Hanlie's wealth of knowledge
    and experience that she has shared with me during this time.
   </p>
   <p class="text-xl text-primary-950/70 dark:text-primary-200/70 sm:text-2xl">
    I believe we live in an environment where most consumers are resourceful and well-informed
    (albeit overwhelmed!) thanks to social media and technology. I see my purpose as listening to a
    client's ideas and then bringing to the table perspective and context, as well as a holistic
    view, by applying sound design principles. True to its name, by reFlair-ing, my aim is to offer
    guidance and services on the subject of flair - and I would like to once again add flair to your
    home.
   </p>
  </div>

  <!-- Stats -->
  <dl class="grid grid-cols-1 gap-6 px-6 sm:grid-cols-2">
   {
    stats.map((stat) => (
     <div class=" rounded-3xl border border-primary-900/10 p-6 text-center dark:border-primary-300/10">
      <dt class="text-base">{stat.name}</dt>
      <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
     </div>
    ))
   }
  </dl>
 </div>
</section>
