---
import Layout from '../layouts/Layout.astro';
---

<Layout description="Our services" title="Services · Reflair">
 <div class="services-img"></div>
 <section class="py-12 sm:py-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
   <div class="flex -translate-y-72 flex-col items-end">
    <h2 class="mb-6 text-4xl font-medium tracking-tight text-white sm:text-6xl">Services</h2>
    <div class="w-20 border-b-2 border-b-white"></div>
   </div>
   <div>
    <p class="my-10 text-2xl">
     Let me know if I could assist with any of the following services, in order to help create a
     functional and aesthetically pleasing space:
    </p>
    <ul>
     <li>
      <span class="font-moontime text-4xl">Space planning</span> : Determining the layout of
      furniture and decor to optimize the use of space;
     </li>
     <li>
      <span class="font-moontime text-4xl">Color consultation</span> : Selecting paint colors,
      fabrics, and finishes to create a cohesive look;
     </li>
     <li>
      <span class="font-moontime text-4xl">Furniture selection</span>
       : Choosing furniture pieces that fit the style and function of the space;
     </li>
     <li>
      <span class="font-moontime text-4xl">Lighting design</span>
       : Planning the placement of lighting fixtures to enhance the ambiance of the room;
     </li>
     <li>
      <span class="font-moontime text-4xl">Custom design</span>
       : Creating custom pieces such as built-in shelving, cabinetry, or furniture;
     </li>
     <li>
      <span class="font-moontime text-4xl">Project management</span>
       : Overseeing the implementation of the design plan, coordinating with contractors and
      vendors; and
     </li>
     <li>
      <span class="font-moontime text-4xl">Styling and accessorizing</span>
       : Adding finishing touches such as artwork, rugs, and decor items to complete the look;
     </li>
    </ul>
   </div>
  </div>
 </section>
</Layout>

<style>
 .services-img {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
   url(../../public/assets/services-hero.jpg);
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
 }
 ol {
  list-style-type: decimal;
  padding: 1rem;
 }

 li {
  font-size: 1.5rem /* 20px */;
  line-height: 2.125rem /* 34px */;
  margin-top: 1rem;
 }
</style>
