---
import Layout from '../layouts/Layout.astro';
---

<Layout description="Our services" title="Services · Reflair">
  <div class="services-img"></div>
  <section class="py-12 sm:py-12">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex -translate-y-72 flex-col items-end">
        <h2 class="mb-6 text-4xl font-medium tracking-tight text-white sm:text-6xl">Services</h2>
        <div class="w-20 border-b-2 border-b-white"></div>
      </div>
      <p class="my-10 text-2xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, voluptates? Iste nam
        voluptatem voluptatum nemo autem vero doloremque at magnam, temporibus necessitatibus dicta
        atque veritatis accusamus delectus non, cum possimus ut iure pariatur laboriosam iusto ab
        nisi voluptatibus officiis. Asperiores perspiciatis eligendi, nulla dolorum repudiandae
        nostrum? Deleniti modi explicabo enim culpa cumque quod excepturi voluptatum est eligendi
        itaque dignissimos, non ratione ullam impedit corporis neque quos laboriosam autem
        blanditiis doloribus aperiam voluptatem assumenda. Porro alias officia quod beatae doloribus
        deleniti quas assumenda veritatis unde harum dolores, ut nesciunt numquam inventore nostrum
        iure adipisci sapiente quaerat autem architecto odio incidunt natus! Unde natus beatae rem
        deserunt inventore, optio iste qui, facilis officia ipsa ipsam asperiores recusandae sequi
        repudiandae consectetur atque illum numquam vitae quod dolorem. Aut rem sapiente officiis,
        deserunt provident, nihil quasi tempora dicta hic molestiae vero eos nesciunt aperiam autem
        doloremque assumenda, quam vel magni perspiciatis iure quo totam debitis. Facere doloremque
        officiis magnam reiciendis asperiores. Distinctio veritatis dolorem minus eaque tempore?
        Repellat dolores veritatis ullam nobis dolor adipisci, sequi earum maxime deleniti deserunt
        quaerat eveniet hic inventore blanditiis reiciendis possimus corrupti rerum dolorum nisi
        perferendis nesciunt in tempore. Voluptatem consequuntur architecto explicabo consequatur a
        minima, officiis esse delectus sit quidem hic quisquam consectetur molestiae facere? Sequi
        eum nemo officiis, culpa vero atque ullam dicta quaerat, quia voluptate velit delectus,
        obcaecati pariatur odit laboriosam quae magnam totam doloremque? Accusamus distinctio
        ratione fugiat mollitia unde eveniet repellendus cumque, voluptatum consectetur et at hic
        maxime praesentium, est inventore! Dolor rem exercitationem inventore et explicabo quis,
        autem architecto labore, ullam neque enim, non earum. Sapiente quo nesciunt rerum
        accusantium ipsum eum dolorum, suscipit ut veritatis tempore odio quaerat officiis iure enim
        libero, laborum eius ducimus. Natus accusantium nostrum cumque suscipit nobis corporis ipsum
        quaerat ratione dolores architecto dolorem recusandae, animi magni dolorum minima, quasi
        obcaecati inventore aspernatur doloribus fugit praesentium sapiente laudantium. A, harum
        quaerat. Eos eveniet saepe eum numquam amet minus labore, vero distinctio veritatis itaque
        iusto alias et repudiandae ipsam deserunt quo nesciunt ex recusandae ut quae culpa suscipit!
        Veniam animi obcaecati est optio, accusamus id non modi vel natus, libero dicta corporis
        rem, iure nobis nulla ad. Asperiores eum iure quis impedit deleniti nobis accusantium. Sunt
        blanditiis hic quis expedita sint accusantium non mollitia distinctio aliquid ad, neque quae
        pariatur suscipit! Mollitia excepturi aspernatur, facere officia et beatae voluptatibus
        alias impedit voluptates? Totam eligendi amet sit beatae praesentium, dolores debitis
        voluptatum, autem repudiandae, ratione rem nostrum. Molestiae repudiandae id nihil dolorem
        optio et culpa distinctio earum harum magni nostrum ipsa, iste voluptatibus necessitatibus?
        Modi accusamus sequi quaerat reprehenderit aliquid qui beatae, ullam, minima impedit cum
        accusantium. Debitis eaque quae sapiente quis, tempore autem voluptas optio asperiores nam
        quas omnis maiores ratione sed, numquam deserunt voluptatum ex sit officia. Accusamus sit
        saepe nisi, eaque voluptates, aperiam reprehenderit quos voluptate, rem voluptatum
        temporibus nulla maiores ducimus maxime nihil placeat obcaecati laudantium iste. Ab
        quibusdam recusandae alias earum cupiditate facilis saepe soluta necessitatibus sunt. Fugit
        repudiandae iusto totam aut sunt incidunt quod.
      </p>
    </div>
  </section>
</Layout>

<style>
  .services-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../public/assets/services-hero.jpg);
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
</style>
