---
import Layout from '../layouts/Layout.astro';
---

<Layout description="Our services" title="Services · Reflair">
 <div class="services-img"></div>
 <section class="py-12 sm:py-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
   <div class="flex -translate-y-72 flex-col items-end">
    <h2 class="mb-6 text-4xl font-medium tracking-tight text-white sm:text-6xl">Services</h2>
    <div class="w-20 border-b-2 border-b-white"></div>
   </div>
   <div>
    <p class="my-10 text-2xl">
     An interior designer provides a range of services to help create functional and aesthetically
     pleasing spaces. Some of the services they offer include:
    </p>
    <ol>
     <li>
      Space planning: Determining the layout of furniture and decor to optimize the use of space.
     </li>
     <li>
      Color consultation: Selecting paint colors, fabrics, and finishes to create a cohesive look.
     </li>
     <li>
      Furniture selection: Choosing furniture pieces that fit the style and function of the space.
     </li>
     <li>
      Lighting design: Planning the placement of lighting fixtures to enhance the ambiance of the
      room.
     </li>
     <li>
      Custom design: Creating custom pieces such as built-in shelving, cabinetry, or furniture.
     </li>
     <li>
      Project management: Overseeing the implementation of the design plan, coordinating with
      contractors and vendors.
     </li>
     <li>
      Styling and accessorizing: Adding finishing touches such as artwork, rugs, and decor items to
      complete the look.
     </li>
    </ol>
    <p class="my-10 text-2xl">
     Overall, an interior designer helps clients bring their vision for their space to life while
     ensuring functionality and style are balanced.
    </p>
   </div>
  </div>
 </section>
</Layout>

<style>
 .services-img {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
   url(../../public/assets/services-hero.jpg);
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
 }
 ol {
  list-style-type: decimal;
  padding: 1rem;
 }

 li {
  font-size: 1.25rem /* 20px */;
  line-height: 2.125rem /* 34px */;
  margin-top: 1rem;
 }
</style>
