---
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/home/Testimonials.astro';
---

<Layout
 description="A display of testimonials of people that used my service"
 title="Testimonials · Reflair"
>
 <section class="py-12 sm:py-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
   <Testimonials />
  </div>
 </section>
</Layout>
