<section class="py-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 sm:gap-28 lg:grid-cols-2">
      <div class="flex flex-col items-start gap-4 sm:gap-6 lg:col-span-1">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Flair Injections</h2>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          These consultations provide practical information, honest recommendations and loads of
          inspiration to make any interior seem fresh and updated again - and the objectives are:
        </p>
        <ul class="list-inside list-disc">
          <li class="my-4 text-primary-950/70 dark:text-primary-200/70 sm:ms-8">
            To resonate with a client's tastes and style. I like to use what's available to a client
            and take into consideration what makes them happy as I am of the opinion that our
            belongings restores our memories and connects us with others and with the past;
          </li>
          <li class="my-4 text-primary-950/70 dark:text-primary-200/70 sm:ms-8">
            To move from a 'take-make-dispose' approach towards a 'recycle-repair-reuse' approach;
          </li>
          <li class="my-4 text-primary-950/70 dark:text-primary-200/70 sm:ms-8">
            To provide a solution for everyone, at every budget category; and
          </li>
          <li class="my-4 text-primary-950/70 dark:text-primary-200/70 sm:ms-8">
            To empower the client and involve them as little or as much as they like, to the extent
            that home renovations can be undertaken entirely independently if so preferred.
          </li>
        </ul>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          I would love to assist you to reFlair your home!
        </p>
      </div>
      <div class="wrap flex lg:col-span-1">
        <img
          src="/assets/flair_injections.webp"
          alt="flour theme fabrics stacked in a pile"
          class="rounded-3xl"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .wrap {
    align-self: center;
    flex: 0 0 auto;
  }
</style>
