<section class="py-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 sm:gap-28 lg:grid-cols-2">
      <div class="wrap flex lg:col-span-1">
        <img
          src="/assets/mia.webp"
          alt="flour theme fabrics stacked in a pile"
          class="rounded-3xl"
        />
      </div>
      <div
        class="order-first flex flex-col items-start gap-12 sm:gap-10 lg:order-last lg:col-span-1"
      >
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Meet Mia</h2>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          My name is Mia Lambrechts and reFlair Ideas and Interiors is my business and passion. I
          have been blessed and fortunate to turn my passion for beautiful interiors into a
          profession, as I believe that being able to find serenity and comfort in one's home is a
          crucial factor in quality of life. I joined Hanlie Claasen Interiors in 2017 after being a
          stay-at-home mom to my two daughters, and I will be ever grateful for this opportunity, as
          well as for Hanlie's wealth of knowledge and experience that she has shared with me during
          this time.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .wrap {
    align-self: center;
    flex: 0 0 auto;
  }
</style>
