<section class="py-12">
 <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="grid gap-12 sm:gap-28 lg:grid-cols-2">
   <div class="wrap flex lg:col-span-1">
    <img src="/assets/mia.jpg" alt="flour theme fabrics stacked in a pile" class="rounded-3xl" />
   </div>
   <div
    class="order-first flex flex-col items-start justify-center gap-12 sm:gap-10 lg:order-last lg:col-span-1"
   >
    <h2 class="text-3xl font-medium tracking-tight sm:text-5xl">Meet Mia</h2>
    <p class="text-xl text-primary-950/70 dark:text-primary-200/70 sm:text-2xl">
     My name is Mia Lambrechts and reFlair Interiors is my business and passion. I have been blessed
     and fortunate to turn my passion for beautiful interiors into a profession, as l believe that
     being able to find serenity and comfort in one's home is a crucial factor in quality of life.
     After gaining experience at Hanlie Claasen Interiors for 2 years, I started up reFlair
     Interiors in 2020 - and have been enjoying every project ever since!
    </p>
   </div>
  </div>
 </div>
</section>

<style>
 .wrap {
  align-self: center;
  flex: 0 0 auto;
 }
</style>
