---
const testimonials = [
 {
  name: 'Ilze',
  description:
   'Renovation, Decor and Accessories, Wall Treatments, Flooring, Lighting, Room Layout, Upholstery',
  message:
   '“Mia, thank you so much for what you have done to give the house a new life. You have done more than what we could have imagined. Thank you for dreaming together and getting every detail right and merging our styles and tastes. It feels like home! Thank you!”',
 },
 {
  name: 'Suzette Bester',
  description: 'Decor and Accessories',
  message:
   '“Mia takes your own personality and taste into account and works with what she has at her disposal. She is an angel and an asset to anyone who wants to bring some fresh ideas into their home. Thank you very much Mia for what you have meant to me! Looking forward to working together again.”',
 },
 {
  name: 'Tracy Grimm',
  description: 'Decor and Accessories, Window Treatments, Soft Furnishing, Room Layout',

  message:
   '“Friendly, helpful assistance and guidance! Goes the extra mile. Quick to respond. Positive attitude. Easy to work with! No regrets on purchases.”',
 },
];
---

<section class="py-16 sm:py-20">
 <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="flex flex-col items-center gap-12 lg:gap-20">
   <h2 class="mx-auto max-w-3xl text-center text-3xl font-medium tracking-tight sm:text-6xl">
    Testimonials
   </h2>
   <div
    class="grid divide-y divide-primary-900/10 dark:divide-primary-300/10 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
   >
    {
     testimonials.map((testimonial) => (
      <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
       <div class="flex flex-row gap-2">
        {[...Array(3)].map(() => (
         <svg
          class="h-6 w-6 text-primary-600 dark:text-primary-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
         >
          <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
         </svg>
        ))}
       </div>
       <blockquote class="text-center text-lg italic leading-loose text-primary-950/70 dark:text-primary-200/70">
        <p>{testimonial.message}</p>
       </blockquote>
       <figcaption class="flex flex-col gap-4">
        <div class="text-center">
         <div class="text-base font-medium">{testimonial.name}</div>
        </div>
       </figcaption>
      </figure>
     ))
    }
   </div>
  </div>
 </div>
</section>
