---
const testimonials = [
 {
  name: 'Anita van Niekerk',

  message:
   '“Mia has helped me on many occassions, in instances where I thought there was nothing to do. She is insanely creative and has numerous industrious ideas. She has also assisted me on short notice with good quality reasonably priced productions. I would (and have) recommend her to anyone!”',
 },
 {
  name: 'Adriaan & Dee Beukes',

  message:
   '“Mia was excellent at understanding our requirements, we are so happy with the new look of our home!”',
 },
 {
  name: 'Michelle Janse van Rensburg',

  message:
   '“My interior decorator Mia was absolutely fantastic! She had a keen eye for design and understood my vision perfectly. She was able to transform my space into something truly remarkable. The attention to detail and creativity she brought to the project was outstanding. She was prompt, professional, and a pleasure to work with. I highly recommend her to anyone looking for a talented and dedicated interior decorator.”',
 },
 {
  name: 'Lucia Grotius',

  message:
   '“I contacted Mia at ReFlair some time ago to assist with redecorating my bedroom. Mia has a special sence of flair, affinity for beautiful fabrics and textiles and the knowledge to bring everything together.Mia assisted me again in creating our very special winter room that was not an easy task. She knows how to source furniture and accessories to complete a beautiful outcome. Thank you Mia@ReFlair- I will always be thankful for your assistance and professionalism”',
 },
 {
  name: 'Marina de Villiers',

  message:
   '“What a pleasure to work with Mia - not only is she knowledgeable but she honours appointments and installation deadlines. What a rare find in this industry!”',
 },
 {
  name: 'Buzz Leuner',

  message:
   '“Mia delivers a professional experience, good planning, good taste, thorough sourcing, frequent consultation with the client and always in budget. A pleasure to work with.”',
 },
 {
  name: 'Lana Leuner',

  message:
   '“Always so exciting to work with Mia knowing that The Sky is the Limit. Mia has The know how. The artistic flair.The engineering ability. The Honesty. The ability to deliver. This is teamwork.Thank you Mia for always making every project very exciting! Looking forward to August  2024 for our next one!”',
 },
 {
  name: 'Elsabé Hanekom',

  message: `"Exceptional service, no matter how small the project. Mia's valuable knowledge and pragmatic suggestions assisted our decision making with great results!"`,
 },
 {
  name: 'Mari Lourens',

  message:
   '"Mia, has a special gift of bringing harmony to a place through interior. She has a superior sense of optimizing space and flow. Her planning and accuracy of measurements, guarantees a high-quality end result."',
 },
 {
  name: 'Anjo du Toit',

  message: `"Mia is such a nice person to work with and always gives creative ideas to liven up a room. She knows what to do if you want to beautify a space but am unsure where to start. She assisted us in creating our baby boy's bedroom and added little clouds to the wall, which cemented the theme and brought the entire space together."`,
 },
 {
  name: 'Althea Chamberlain',

  message: `"Mia undertook a challenging project for me and guided me on which fabric was suitable and what was on the market and listened keenly to what my needs and preferences were and tackled our project with patience, enthusiasm, energy, and meticulous attention to detail.  Not only did we end up with a lovely colour combination of  upholstery fabric, linen, towels and an exquisitely stitched comforter but Mia also sourced amongst other things our crockery and glasses. Many thanks Mia you changed what I at first perceived as daunting to a fun project."`,
 },
];
---

<style>
 /* CSS to hide testimonials initially after the first three */
 .testimonial.hidden {
  display: none;
 }
</style>

<section class="py-16 sm:py-20">
 <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="flex flex-col items-center gap-12 lg:gap-20">
   <h2 class="mx-auto max-w-3xl text-center text-3xl font-medium tracking-tight sm:text-6xl">
    Testimonials
   </h2>
   <div
    id="testimonialsContainer"
    class="grid divide-y divide-primary-900/10 dark:divide-primary-300/10 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
   >
    {
     testimonials.map((testimonial, index) => (
      <figure
       class={`testimonial mx-auto flex max-w-lg flex-col items-center gap-2 py-8 lg:px-8 lg:py-4 ${
        index > 2 ? 'hidden' : ''
       }`}
      >
       <div class="flex flex-row gap-2">
        {[...Array(3)].map(() => (
         <svg
          class="h-6 w-6 text-primary-600 dark:text-primary-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
         >
          <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
         </svg>
        ))}
       </div>
       <blockquote class="text-center text-xl italic text-primary-950/70 dark:text-primary-200/70">
        <p>{testimonial.message}</p>
       </blockquote>
       <figcaption class="flex flex-col gap-4">
        <div class="text-center">
         <div class="text-lg font-medium">{testimonial.name}</div>
        </div>
       </figcaption>
      </figure>
     ))
    }
   </div>
   <button
    id="toggleButton"
    class="mt-8 rounded bg-primary-600 px-4 py-2 text-white hover:bg-primary-700"
   >
    See More Testimonials
   </button>
  </div>
 </div>
</section>

<script>
 document.getElementById('toggleButton').addEventListener('click', function () {
  const testimonials = document.querySelectorAll('#testimonialsContainer .testimonial.hidden');
  const isExpanded = testimonials.length === 0;
  document.querySelectorAll('#testimonialsContainer > figure').forEach((testimonial, index) => {
   if (index > 2) testimonial.classList.toggle('hidden');
  });
  this.textContent = isExpanded ? 'See More Testimonials' : 'See Less';
 });
</script>
