---
const testimonials = [
 {
  name: 'Anita van Niekerk',

  message:
   '“Mia has helped me on many occassions, in instances where I thought there was nothing to do. She is insanely creative and has numerous industrious ideas. She has also assisted me on short notice with good quality reasonably priced productions. I would (and have) recommend her to anyone!”',
 },
 {
  name: 'Adriaan & Dee Beukes',

  message:
   '“Mia was excellent at understanding our requirements, we are so happy with the new look of our home!”',
 },
 {
  name: 'Michelle Janse van Rensburg',

  message:
   '“My interior decorator Mia was absolutely fantastic! She had a keen eye for design and understood my vision perfectly. She was able to transform my space into something truly remarkable. The attention to detail and creativity she brought to the project was outstanding. She was prompt, professional, and a pleasure to work with. I highly recommend her to anyone looking for a talented and dedicated interior decorator.”',
 },
 {
  name: 'Lucia Grotius',

  message:
   '“I contacted Mia at ReFlair some time ago to assist with redecorating my bedroom. Mia has a special sence of flair, affinity for beautiful fabrics and textiles and the knowledge to bring everything together.Mia assisted me again in creating our very special winter room that was not an easy task. She knows how to source furniture and accessories to complete a beautiful outcome. Thank you Mia@ReFlair- I will always be thankful for your assistance and professionalism”',
 },
 {
  name: 'Marina de Villiers',

  message:
   '“What a pleasure to work with Mia - not only is she knowledgeable but she honours appointments and installation deadlines. What a rare find in this industry!”',
 },
 {
  name: 'Buzz Leuner',

  message:
   '“Mia delivers a professional experience, good planning, good taste, thorough sourcing, frequent consultation with the client and always in budget. A pleasure to work with.”',
 },
 {
  name: 'Lana Leuner',

  message:
   '“Always so exciting to work with Mia knowing that The Sky is the Limit. Mia has The know how. The artistic flair.The engineering ability. The Honesty. The ability to deliver. This is teamwork.Thank you Mia for always making every project very exciting! Looking forward to August  2024 for our next one!”',
 },
 {
  name: 'Elsabé Hanekom',

  message:
   '“Exceptional service, no matter how small the project. Mia’s valuable knowledge and pragmatic suggestions assisted our decision making with great results!”',
 },
];
---

<section class="py-16 sm:py-20">
 <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="flex flex-col items-center gap-12 lg:gap-20">
   <h2 class="mx-auto max-w-3xl text-center text-3xl font-medium tracking-tight sm:text-6xl">
    Testimonials
   </h2>
   <div
    class="grid divide-y divide-primary-900/10 dark:divide-primary-300/10 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
   >
    {
     testimonials.map((testimonial) => (
      <figure class="mx-auto flex max-w-lg flex-col items-center gap-2 py-8 lg:px-8 lg:py-4">
       <div class="flex flex-row gap-2">
        {[...Array(3)].map(() => (
         <svg
          class="h-6 w-6 text-primary-600 dark:text-primary-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
         >
          <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
         </svg>
        ))}
       </div>
       <blockquote class="text-center text-xl italic text-primary-950/70 dark:text-primary-200/70">
        <p>{testimonial.message}</p>
       </blockquote>
       <figcaption class="flex flex-col gap-4">
        <div class="text-center">
         <div class="text-lg font-medium">{testimonial.name}</div>
        </div>
       </figcaption>
      </figure>
     ))
    }
   </div>
  </div>
 </div>
</section>
