<section class="py-4">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <img
      src="/public/assets/contact-hero.webp"
      alt="close up of brightly coloured pillows"
      class="w-full rounded-3xl"
    />
  </div>
</section>
