<section class="py-12">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d67340.15230477965!2d28.249530390705175!3d-25.783301891119386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9560f95c772c19%3A0x6eb5b7a85bbad445!2sMenlo%20Park%2C%20Pretoria%2C%200081%2C%20South%20Africa!5e0!3m2!1sen!2sit!4v1709054322317!5m2!1sen!2sit"
        width="600"
        height="450"
        style="border:0; border-radius: 3rem;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<style>
  .google-map {
    padding-bottom: 50%;
    position: relative;
  }

  .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
</style>
